#never commit node_modules
node_modules



hooks/
__mocks__
webpack
.github/workflows
#never commit packed files
www/assets
www/locales
www/bundle*
src/assets.ts

.vscode/
typings/
#logs
*.log
# Mac
.DS_Store

# Node
npm-debug.log
/node_modules

# Cordova
/platforms
/plugins
build.json
build.keystore

# Android
.gradle/

# res
resources/signing

# environment
.env

# Local Netlify folder
.netlify

*.bak
